.DS_Store
*.pyc
*.egg-info/
__pycache__/

# files for the vector store
*_vector_store_items.json
*_vector_store_embeddings.pt

# files for the home assistant tool store
hass_*.json

tmp/*

.dmypy.json

build/
dist/
