.DS_Store
Thumbs.db
*.pyc
*.egg-info/
__pycache__/
.pytest_cache/
.venv/

tmp/*

.dmypy.json
.mypy_cache/

build/
dist/

.env
*.env
vault-*.json

.log
*.log
/build
/build/Release

node_modules/
.npm/

# don't commit images zipped with `docker image save -o ...`
*.tar
*.tar.gz
