# generated with python -m pipreqs.pipreqs src/fred
fastapi==0.110.1
homeassistant==2024.3.3
homeassistant_api==4.2.2
langchain==0.1.14
langchain_core==0.1.39
langchain_openai==0.1.1
openai==1.16.1
pydantic==2.6.4
Requests==2.31.0
rich==13.7.1
torch==2.2.0
transformers==4.37.2
urllib3==1.26.18
